body{
    letter-spacing: 0.02em;
}
section{
    padding: 100px;
}
p{
    font-weight: 300;
}
.btn {
    outline-color: #8064A2;
    border-color: #8064A2;
    background-color: #8064A2;
    color: #fff;
}
.btn:hover {
    background-color: #8064A2;
    color: #fff;
}
.btn-outline{
    background-color: transparent;
    color: #8064A2;
}
.btn-outline:hover{
    background-color: #8064A2;
    color: #fff;
}
.form-control{
    border: 1px solid #8064A2;
}
.form-control:focus {
    border-color: #8064A2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128, 100, 162, 1);
}
@media (max-width: 1000px) {
    section{
        padding: 50px 70px;
    }
}
@media (max-width: 769px) {
    section{
        padding: 50px 50px;
    }
}
@media (max-width: 450px) {
    section{
        padding: 50px 20px;
    }
}